<div class="container">
		 <h2>Login </h2>
		<div class="login-content">
			<form id="login-form">
				<form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" required>
            <div class="invalid-feedback">
                Please enter a valid username.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" required>
            <div class="invalid-feedback">
                Please enter a valid password.
            </div>
        </div>
        <button style="margin-bottom: 20px; width: 100%;" type="submit" class="btn btn-primary w-100 ">Login</button>
    </form>
            </form>
            
            <a  href="/dk">  <button type="submit" style="width: 100%; margin-bottom: 20px;" class="btn btn-primary   ">Singup</button></a>
           
        </div>
    </div>

     <script>
    
document.addEventListener('DOMContentLoaded', function() {
    // Đăng nhập thành công
   
    function sinup() {
      // Chuyển đến trang chủ
      window.location.href = 'dk.html';
    }
    // Xử lý sự kiện khi submit form đăng nhập
    document.getElementById('login-form').addEventListener('submit', function(event) {
      event.preventDefault();
  
      // Lấy thông tin đăng nhập từ form
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
  
      // Kiểm tra thông tin đăng nhập
      if (username === 'admin' && password === '123456') {
        // Đăng nhập thành công
         window.location.href = '/sp/list';
      } else {
        // Đăng nhập không thành công
        alert('Tên đăng nhập hoặc mật khẩu không đúng.');
      }
    });
  });
  </script>